/* You can add global styles to this file, and also import other style files */
li {
  margin-top: 10px;
}


.padding {
  padding-top: 20px;
}

.padding-bottom {
  padding-bottom: 50px;
}

.padding-left {
  padding-left: 50px;
}
