<div class="container padding">
  <div class="row">
    <div class="col-12">

      <h1 class="display-1 text-center">Routing in Angular</h1>
      <hr>

      <div class="padding">
        <p>The Angular Router enables navigation from one view to the next as users perform application tasks.</p>
      </div>
      <ul class="padding">
        <li>
          <a routerLink="/registering">Setting up and loading routes</a>
          <!-- queryParams and fragments -->
          <!--<a routerLink="/registering"
            [queryParams]="{allowLang: 'en'}"
            fragment="loading">
            Setting up and loading routes
          </a>-->
        </li>
        <li>
          <a routerLink="/navigation">Navigating with Router links</a>
        </li>
      </ul>

    </div>
  </div>
</div>
